{{#unless showingMenu}}
<a href="#" {{action "toggleMenu"}} class="game-menu-hamburger">
  {{fa-icon "bars"}}
</a>
{{/unless}}

{{#if showingMenu}}
  {{game-menu toggleMenu='toggleMenu' changeBall='changeBall' selectedBall=currentBall audioEnabled=audioEnabled}}
{{/if}}

<div id='phaser-croissant-blocks'></div>
{{yield}}
