<div class="intro-title animated bounceInDown">
  Croissant
  <br />
  Blocks!
</div>

{{#link-to 'play.level' 1}}
<div class="game-menu-button">Play Level 1</div>
{{/link-to}}

{{#link-to 'play.level' 5}}
<div class="game-menu-button">Play Level 5</div>
{{/link-to}}

{{outlet}}
